// Grayscale
$br-color-white: #ffffff;
$br-color-black: #000000;

$br-color-gray: #a3a3a3;

// font-size
$br-font-sm: 0.85rem;
$br-font-md: 1rem;
$br-font-lg: 1.25rem;
$br-font-xl: 1.5rem;
$br-font-2xl: 1.75rem;

// font-weight
$br-font-slim: 400;
$br-font-regular: 500;
$br-font-semi-bold: 600;
$br-font-bold: 700;
