.br-text-label {
  display: block;
  padding-bottom: 10px;

  &--required-mark {
    &::after {
      content: " *required";
      font-size: 12px;
      color: red;
      vertical-align: center;
    }
  }
}
