.stickyNavbar {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;

  @keyframes fadeUpAnime {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.hidden {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  animation-name: fadeOutAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 1;

  @keyframes fadeOutAnime {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}
