@use "src/styles/breakpoints" as breakpoints;
@use "src/styles/variables" as vars;

.br-button {
  width: auto;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;

  font-size: vars.$br-font-sm;
  font-weight: vars.$br-font-regular;

  @include breakpoints.media(sm) {
    width: 100%;
  }

  &--primary {
    background-color: #2563ebff;
    color: vars.$br-color-white;
    transition: 0.3s;

    &:hover {
      outline: 2px solid transparent;
      outline-offset: 2px;
      background-color: #1e40af;
    }

    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
      background-color: #1e40af;
    }
  }

  &--disabled {
    background-color: #818cb4;
    color: vars.$br-color-white;
    cursor: not-allowed;
  }
}
